<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% with messages = get_flashed_messages() %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

{% endwith %}
<form action="/add_contact" method="post" >

    <input type="text" name="fullname" placeholder="Fullname">
    <input type="text" name="phone" placeholder="Phone">
    <input type="text" name="email" placeholder="Email">

    <button type="submit">
        Save
    </button>
</form>

<table>
    <thead>
    <tr>
        <td>Fullname</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Operations</td>

    </tr>
    </thead>
</table>
    <tbody>

    </tbody>
</body>
</html>